<ul class="list-group listStyle">
   <% @bikes.each do |b| %>
   <li class="list-group-item">
      <a href="<%= "/bikes/#{b.id}" %>"data-remote="true"><%= b.brand %></a>
   </li>
   </a>
   <% end %>
</ul>