<div class="col-md-12 col-lg-12 " id="console-view">
   <span class="addBike"><%= render partial:'partials/add_bike_button', remote: true %></span>
   <span id="deleteButtonHolder"></span>
   <div class="row">
      <div class="bikesBox col-md-4">
         <%= render 'partials/user_bikes', remote: true %>
      </div>
      <div class="bikeStats col-md-4">
         D3 sexiness coming soon :D
      </div>
   </div>
   <div class="row">
      <div class="bulletinBoard col-md-4"> 
      </div>
      <div class="multiBox col-md-4">
         <div class="optionBar">
            <div class="index0"></div>
            <div class="index1"></div>
         </div>
         <div class="content"></div>
      </div>
   </div>
</div>