<div class="col-md-12 col-lg-12 " id="console-view">
   <span class="addBike"><%= render partial:'partials/add_bike_button', remote: true %></span>
   <span id="deleteButtonHolder"></span>
   <div class="row">
      <div class="bikesBox col-md-4">My bikes
         <%= render 'partials/user_bikes', remote: true %>
      </div>
      <div class="bikeStats col-md-4">
      </div>
   </div>
   <div class="row">
      <div class="bulletinBoard col-md-4"> 
      </div>
      <div class="bgColorDark col-md-4"></div>
   </div>
</div>




