.bgThemeColor {
	background-color: #242F40;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

#console-view {

}
.myBikes, .test2 {
	margin-top: 10px;
	margin-left: 10px;
	height: 42vh;
  background-color: #E5E5E5;
  border-width: 0 2px;
  // border-style: solid;
  // border-color: #CCA43B;
  width: 25%;
}







