body {
	background-color: #A4B8C4
}

.bgThemeColor {
	background-color: #242F40;
}

.navbar-light .navbar-nav .nav-link {
	color: #DFF8EB;
	}

#console-view {

.bgColorLight, {
	margin-top: 10px;
	margin-left: 50px;
	height: 42vh;
  background-color: #C9DAEA;
  width: 20%;
}

.bgColorDark {
	  background-color: #191516;
    width: 50%;
    border-width: 0 2px;
    margin-top: 10px;
		margin-left: 50px;
		height: 42vh;
}

}

